MadlyRad.xcworkspace/xcuserdata
*.xcuserstate
*.xcuserstate
*.xcuserstate
MadlyRad.xcodeproj/xcuserdata/alextitov.xcuserdatad/xcschemes/xcschememanagement.plist
Pods/Pods.xcodeproj/xcuserdata/alextitov.xcuserdatad/xcschemes/xcschememanagement.plist
