<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754564241585-od343g6f65t1bv7inno04pm6b50mtmve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754564241585-od343g6f65t1bv7inno04pm6b50mtmve</string>
	<key>API_KEY</key>
	<string>AIzaSyAD_UyBQHj0hNaP-veoxn_ZR2wiwD4Ov_o</string>
	<key>GCM_SENDER_ID</key>
	<string>754564241585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.VitaliyPaliy.mChat</string>
	<key>PROJECT_ID</key>
	<string>messagingpart-c1097</string>
	<key>STORAGE_BUCKET</key>
	<string>messagingpart-c1097.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754564241585:ios:3076e279403a9642c2ea90</string>
	<key>DATABASE_URL</key>
	<string>https://messagingpart-c1097.firebaseio.com</string>
</dict>
</plist>