<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649263683086-3nmhtfc66c9pot8t2v0rrgcg5ec4o19d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649263683086-3nmhtfc66c9pot8t2v0rrgcg5ec4o19d</string>
	<key>API_KEY</key>
	<string>AIzaSyBA-DxAjwlOa0bLnh6pMG_4EzekAE8Osrs</string>
	<key>GCM_SENDER_ID</key>
	<string>649263683086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RobRoe.Hideouts</string>
	<key>PROJECT_ID</key>
	<string>madlyradlabs</string>
	<key>STORAGE_BUCKET</key>
	<string>madlyradlabs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:649263683086:ios:7e4d4ae1c84cd122194e5f</string>
	<key>DATABASE_URL</key>
	<string>https://madlyradlabs.firebaseio.com/</string>
</dict>
</plist>
